<header class="jumbotron container-fluid">
  <h1>{{title}}</h1>
  <h2 class="subheading">69 Weed st<br>columbus, oh 42069</h2>
</header>
<main class="container">
  <ul class="nav nav-tabs">

    <li class="nav-item">
      <a class="nav-link"
         [routerLinkActive]="['active']"
         [routerLink]="['shopping']">Shopping</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLinkActive]="['active']"
         [routerLink]="['banking']">Bank Kiosk</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</main>
